body {
  background-color: #213e6d;
  font-family: Inter, sans-serif;
}
.titleProducts {
  color: white;
  margin: 10px 0;
}
.titleFormProduct {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.form-container {
  background-color: #3863a8;
  margin-top: 20px;
  padding: 20px 30px;
  max-width: fit-content;
  border-radius: 10px;
}
.imgProduct {
  max-width: 35px;
}
.labelProduct {
  color: white;
}
